<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
		    <% console.log(productos) %>

			<h2 class="products-title"><%= productos.nombre %></h2> 
			
			<%if (locals.usuarioLogueado == productos.idUsuario ) { %> 
				<form action="/producto/product_add" method="post">
					<input type="hidden" name="productoId" value="<%= productos.id %>">
					<button type="submit"><a>Editar</a></button>
				</form>
				<form action="/producto/delete" method="post">
					<input type="hidden" name="productoId" value="<%= productos.usuario.id %>">
					<button type="submit"><a>Borrar</a></button>
				</form>
			<% } %>	
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= productos.descripcion %></p>
					<p>Usuario que cargo el producto: <a href="/users/profile/:id<%= productos.idUsuario %>"><%= productos.idUsuario%></a></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let index=0; index < 4; index++ ) { %>
							<article>
								<img src="<%= productos.comentarios.foto_de_perfil %>" alt="">
								<div class="data">
									<p class="user">
										<strong><a href="/users/profile/:id"><%= productos.comentarios.nombre_de_usuario %></a></strong>
										<%= productos.comentarios.texto %>
									</p>
								</div>
							</article>
						<% } %>
					</section>

					<!-- condicion para que solo el usuario logueado pueda comentar -->
					<form class="form" action="/producto/detalle" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

</body>

</html>