<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre %></h2> 
			<% if (locals.usuarioLogueado != undefined) { %>
				<%if (locals.usuarioLogueado.id == productos.idUsuario ) { %> 
					<a href="/producto/product_edit/<%= productos.id %>">Editar</a>
					<form action="/producto/delete" method="post">
						<input type="hidden" name="productoId" value="<%= productos.usuario.id %>">
						<button type="submit"><a>Borrar</a></button>
					</form>
				<% } %>	
			<% } %>	
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= productos.descripcion %></p>
					<p>Usuario que cargo el producto: <a href="/users/profile/<%= productos.idUsuario %>"><%= productos.usuario.email%></a></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let index=0; index < productos.comentarios.length ; index++ ) { %>
							<article>
								<img src="<%= productos.comentarios[index].comentarioUsuario.foto %>" alt="">
								<div class="data">
									<p class="user">
										<strong><a href="/users/profile/<%= productos.comentarios[index].comentarioUsuario.id %>"><%= productos.comentarios[index].comentarioUsuario.email %></a></strong>
										<%= productos.comentarios[index].texto %>
									</p>
								</div>
							</article>
						<% } %>
					</section>


					<!-- condicion para que solo el usuario logueado pueda comentar -->
					<%if (locals.usuarioLogueado != undefined ) { %> 
						<form class="form" action="/producto/detalle" method="POST">
							<input class="form-input" type="text" name="comentario" value="" placeholder="Agregar comentario">
							
							<% if (locals.errors && errors.comentario) { %>
								<p class="error"><%= errors.comentario %></p>
							<% } %>
							<input class="form-input" type="hidden" name="idUsuario" value="<%= usuarioLogueado.id %>" >
							<input class="form-input" type="hidden" name="idProducto" value="<%= productos.id %>" >
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } else { %>
							<a href="/users/login">Debes estar logueado para poder comentar</a>
					<% } %>

				</div>
			</div>
		</div>
	</div>

	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

</body>

</html>