<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
				<div class="img-container offset-3 col-2">
					<img src="/images/usuarios/<%= usuario.foto_de_perfil %>" alt="foto de perfil" class="foto-perfil">
				</div>

				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title">
							<%= usuario.usuario %> 
							<a href="/users/profile_edit/<%= usuario.id %>">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul>
							<li>Cantidad de productos cargados por <%= usuario.email %>: <%= productos.length %> </li>
							<li>200 seguidores</li>
							<li>300 comentarios</li>
						</ul>
					</div>
					<ul>
						<li>
							<% if (locals.usuarioLogueado != undefined) { %>
								<% if (locals.usuarioLogueado.id == usuario.id) { %>
									<a href="/users/profile_edit/<%= usuarioLogueado.id %>">Edita tu perfil <i class="fas fa-sign-in-alt"></i></a>
								<% } else { %>
									<p>Usted no puede editar este perfil</p>
								<% } %>
							<% } else { %>
								<p>Usted no puede editar este perfil</p>
							<% } %>
						</li>
					</ul>
				</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for( let index = 0; index <= 11; index++ ) { %>	
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/producto/detalle/<%productos.id%>">
								<figure class="product-box_image">
									<img src="<%= productos.foto %>">
								</figure>
								<article class="product-box_data">
									<h2><%= productos.nombre %></h2>
									<p><%= productos.descripcion %></p>
									<p> <%= productos.comentarios %> </p>
								</article>
							</a>
						</section>
					</div>
			<% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>	
</html>