<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="post">
					<div>
						<input id="email" type="email" name="email" value="" placeholder="Ingrese su email" required>
						<% if (locals.errors && errors.email) { %>
							<p class="error"><%= errors.email.msg %></p>
						   <% } %>
					</div>
				 
					<div>
						<input id="user" type="text" name="usuario" value="" placeholder="Usuario" required>
						<% if (locals.errors && errors.usuario) { %>
							<p class="error"><%= errors.usuario.msg %></p>
						   <% } %>
					</div>
				 
				 	<div>
						<input id="pass" type="password" name="pass" value="" placeholder="Ingrese su contraseña" required>
						<% if (locals.errors && errors.pass) { %>
							<p class="error"><%= errors.pass.msg %></p>
						   <% } %>
					</div>
				 
					<div>
						<input id="fecha" type="date" name="edad" value="" placeholder="Fecha nacimiento" required>
						<% if (locals.errors && errors.edad) { %>
							<p class="error"><%= errors.edad.msg %></p>
						   <% } %>
					</div>
				 
					<div>
						<input id="dni" type="number" name="dni" value="" placeholder="DNI" required>
						<% if (locals.errors && errors.dni) { %>
							<p class="error"><%= errors.dni.msg %></p>
						   <% } %>
					</div>
				 
					<div>  <!-- ruta para foto de perfil -->
						<label for="foto">Foto de perfil:</label>
						<input id="foto" type="file" name="foto" value="" required>	
						<% if (locals.errors && errors.foto) { %>
							<p class="error"><%= errors.foto.msg %></p>
						   <% } %>
					</div>
					
					<button type="submit">Guardar nuevos cambios</button>
				 </form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>