<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profileForm/<%= usuarioLogueado.id %>" method="post">
					<div>
						<input id="" type="hidden" name="id" value="<%= usuarioLogueado.id %>" required>
						<label for="foto">Ingresar nuevo email:</label>
						<input id="email" type="email" name="email" value="<%= usuario.email %>" required>
						<% if (locals.errors && errors.email) { %>
							<p class="error"><%= errors.email.msg %></p>
						   <% } %>
					</div>
				 
				 	<div>
						<label for="foto">Ingresar nueva contrasenia:</label>
						<input id="pass" type="password" name="pass" value="<%= usuario.contrasenia %>" required>
						<% if (locals.errors && errors.pass) { %>
							<p class="error"><%= errors.pass.msg %></p>
						   <% } %>
					</div>
				 
					<div>
						<label for="foto">Ingresar nueva fecha nacimiento:</label>
						<input id="fecha" type="date" name="edad" value="<%= usuario.fecha %>" required>
						<% if (locals.errors && errors.edad) { %>
							<p class="error"><%= errors.edad.msg %></p>
						   <% } %>
					</div>
				 
					<div>
						<label for="foto">Ingresar nuevo dni:</label>
						<input id="dni" type="number" name="dni" value="<%= usuario.dni %>"  required>
						<% if (locals.errors && errors.dni) { %>
							<p class="error"><%= errors.dni.msg %></p>
						   <% } %>
					</div>
					
					<button type="submit">Guardar nuevos cambios</button>
				 </form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>